<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>buttonBackNormal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {210, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{210, 80}</string>
			<key>spriteSourceSize</key>
			<string>{210, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{420, 773}, {210, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonBackSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {210, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{210, 80}</string>
			<key>spriteSourceSize</key>
			<string>{210, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 609}, {210, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonContinueNormal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {210, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{210, 80}</string>
			<key>spriteSourceSize</key>
			<string>{210, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{212, 609}, {210, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonContinueSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {210, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{210, 80}</string>
			<key>spriteSourceSize</key>
			<string>{210, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 691}, {210, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonPlayDisabledNormal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {210, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{210, 80}</string>
			<key>spriteSourceSize</key>
			<string>{210, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{636, 609}, {210, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonPlayDisabledSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {210, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{210, 80}</string>
			<key>spriteSourceSize</key>
			<string>{210, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{424, 609}, {210, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonPlayNormal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {208, 80}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{208, 80}</string>
			<key>spriteSourceSize</key>
			<string>{210, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210, 773}, {208, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonPlaySelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {208, 80}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{208, 80}</string>
			<key>spriteSourceSize</key>
			<string>{210, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 773}, {208, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonPracticeNormal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {208, 80}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{208, 80}</string>
			<key>spriteSourceSize</key>
			<string>{210, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{422, 691}, {208, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonPracticeSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {208, 80}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{208, 80}</string>
			<key>spriteSourceSize</key>
			<string>{210, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{632, 691}, {208, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonRespondLeftNormal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {184, 184}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{184, 184}</string>
			<key>spriteSourceSize</key>
			<string>{184, 184}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{744, 304}, {184, 184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonRespondLeftSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {184, 184}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{184, 184}</string>
			<key>spriteSourceSize</key>
			<string>{184, 184}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{836, 0}, {184, 184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonRespondRightNormal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {184, 184}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{184, 184}</string>
			<key>spriteSourceSize</key>
			<string>{184, 184}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{186, 304}, {184, 184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonRespondRightSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {184, 184}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{184, 184}</string>
			<key>spriteSourceSize</key>
			<string>{184, 184}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 304}, {184, 184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonRetryNormal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {208, 80}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{208, 80}</string>
			<key>spriteSourceSize</key>
			<string>{210, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{363, 490}, {208, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonRetrySelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {208, 80}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{208, 80}</string>
			<key>spriteSourceSize</key>
			<string>{210, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{212, 691}, {208, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonSettingsNormal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {210, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{210, 80}</string>
			<key>spriteSourceSize</key>
			<string>{210, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{785, 490}, {210, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonSettingsSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {210, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{210, 80}</string>
			<key>spriteSourceSize</key>
			<string>{210, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{573, 490}, {210, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonStartNormal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {184, 184}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{184, 184}</string>
			<key>spriteSourceSize</key>
			<string>{184, 184}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{372, 304}, {184, 184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonStartSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {184, 184}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{184, 184}</string>
			<key>spriteSourceSize</key>
			<string>{184, 184}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{558, 304}, {184, 184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{114, 68}</string>
			<key>spriteSourceSize</key>
			<string>{114, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{848, 609}, {114, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 89}</string>
			<key>spriteSourceSize</key>
			<string>{160, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{836, 186}, {160, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 117}</string>
			<key>spriteSourceSize</key>
			<string>{174, 117}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 490}, {174, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {185, 111}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{185, 111}</string>
			<key>spriteSourceSize</key>
			<string>{185, 111}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 490}, {185, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {118, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{118, 66}</string>
			<key>spriteSourceSize</key>
			<string>{118, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{842, 691}, {118, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloudBurst.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {67, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{67, 65}</string>
			<key>spriteSourceSize</key>
			<string>{67, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{930, 398}, {67, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dropboxAndLoginAlert.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {267, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{267, 76}</string>
			<key>spriteSourceSize</key>
			<string>{267, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{632, 773}, {267, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fixation.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{962, 691}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iconRewardNegative.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {92, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{92, 92}</string>
			<key>spriteSourceSize</key>
			<string>{92, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{930, 304}, {92, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iconRewardPositive.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {92, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{92, 92}</string>
			<key>spriteSourceSize</key>
			<string>{92, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{606, 200}, {92, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iconSpeakerNormal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {52, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{52, 52}</string>
			<key>spriteSourceSize</key>
			<string>{54, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{964, 609}, {52, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>largeAlertIcon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{363, 572}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>logoTrainCat.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {228, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{228, 198}</string>
			<key>spriteSourceSize</key>
			<string>{228, 198}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{606, 0}, {228, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spriteResponseCorrect.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {301, 301}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{301, 301}</string>
			<key>spriteSourceSize</key>
			<string>{301, 301}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{303, 0}, {301, 301}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spriteResponseIncorrect.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {301, 302}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{301, 302}</string>
			<key>spriteSourceSize</key>
			<string>{301, 302}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {301, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>TrainCat</string>
		<key>textureFileName</key>
		<string>TrainCat.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>