<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>buttonBackNormal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {418, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{418, 158}</string>
			<key>spriteSourceSize</key>
			<string>{420, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{370, 1438}, {418, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonBackSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {418, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{418, 158}</string>
			<key>spriteSourceSize</key>
			<string>{420, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 958}, {418, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonContinueNormal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {418, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{418, 158}</string>
			<key>spriteSourceSize</key>
			<string>{420, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{420, 1118}, {418, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonContinueSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {418, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{418, 158}</string>
			<key>spriteSourceSize</key>
			<string>{420, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{790, 354}, {418, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonPlayDisabledNormal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {418, 158}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{418, 158}</string>
			<key>spriteSourceSize</key>
			<string>{420, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1118}, {418, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonPlayDisabledSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {418, 158}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{418, 158}</string>
			<key>spriteSourceSize</key>
			<string>{420, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{370, 1278}, {418, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonPlayNormal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 1}, {416, 158}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{416, 158}</string>
			<key>spriteSourceSize</key>
			<string>{420, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1580, 1583}, {416, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonPlaySelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 1}, {416, 158}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{416, 158}</string>
			<key>spriteSourceSize</key>
			<string>{420, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1630, 1075}, {416, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonPracticeNormal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 1}, {416, 158}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{416, 158}</string>
			<key>spriteSourceSize</key>
			<string>{420, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1580, 1423}, {416, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonPracticeSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 1}, {416, 158}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{416, 158}</string>
			<key>spriteSourceSize</key>
			<string>{420, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{790, 1471}, {416, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonRespondLeftNormal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {368, 366}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{368, 366}</string>
			<key>spriteSourceSize</key>
			<string>{368, 368}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{840, 1103}, {368, 366}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonRespondLeftSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {368, 366}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{368, 366}</string>
			<key>spriteSourceSize</key>
			<string>{368, 368}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1278}, {368, 366}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonRespondRightNormal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {368, 366}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{368, 366}</string>
			<key>spriteSourceSize</key>
			<string>{368, 368}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1210, 1263}, {368, 366}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonRespondRightSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {368, 366}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{368, 366}</string>
			<key>spriteSourceSize</key>
			<string>{368, 368}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1598, 707}, {368, 366}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonRetryNormal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 1}, {416, 158}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{416, 158}</string>
			<key>spriteSourceSize</key>
			<string>{420, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1580, 1263}, {416, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonRetrySelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 1}, {416, 158}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{416, 158}</string>
			<key>spriteSourceSize</key>
			<string>{420, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{370, 1598}, {416, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonSettingsNormal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {418, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{418, 158}</string>
			<key>spriteSourceSize</key>
			<string>{420, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1210, 1103}, {418, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonSettingsSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {418, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{418, 158}</string>
			<key>spriteSourceSize</key>
			<string>{420, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{420, 958}, {418, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonStartNormal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {366, 366}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{366, 366}</string>
			<key>spriteSourceSize</key>
			<string>{368, 368}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1646}, {366, 366}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonStartSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {366, 366}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{366, 366}</string>
			<key>spriteSourceSize</key>
			<string>{368, 368}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{788, 1631}, {366, 366}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>clouds.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 8}, {1372, 352}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{1372, 352}</string>
			<key>spriteSourceSize</key>
			<string>{1394, 366}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {1372, 352}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dropboxAndLoginAlert.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {534, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{534, 152}</string>
			<key>spriteSourceSize</key>
			<string>{534, 152}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{604, 707}, {534, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fixation.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 101}</string>
			<key>spriteSourceSize</key>
			<string>{100, 101}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1374, 0}, {100, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iconRewardNegative.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {184, 184}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{184, 184}</string>
			<key>spriteSourceSize</key>
			<string>{184, 184}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{604, 354}, {184, 184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iconRewardPositive.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {184, 184}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{184, 184}</string>
			<key>spriteSourceSize</key>
			<string>{184, 184}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{790, 514}, {184, 184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iconSpeakerNormal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {102, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{102, 100}</string>
			<key>spriteSourceSize</key>
			<string>{108, 108}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1476, 0}, {102, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>largeAlertIcon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1580, 0}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>logoTrainCat.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {456, 394}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{456, 394}</string>
			<key>spriteSourceSize</key>
			<string>{456, 396}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1140, 707}, {456, 394}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spriteResponseCorrect.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {602, 602}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{602, 602}</string>
			<key>spriteSourceSize</key>
			<string>{602, 602}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 354}, {602, 602}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spriteResponseIncorrect.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {602, 602}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{602, 602}</string>
			<key>spriteSourceSize</key>
			<string>{602, 604}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1374, 103}, {602, 602}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>TrainCat-hd</string>
		<key>textureFileName</key>
		<string>TrainCat-hd.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>